<<<<<<< HEAD:Clicker/scss/base.scss
  body {
    background: #121212;
    color: white;
    font-family: cursive;
    margin: 0;
  }
=======
  body {
    background: #121212;
    color: white;
    font-family: cursive;
    margin: 0;
  }
>>>>>>> 8e7d3c0e831517c931adbc6931f1c7919c629bcc:scss/base.scss
