<<<<<<< HEAD:Clicker/scss/game.scss
.game {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.game__title {
  color: #f5c542;
}

.game__stats {
  display: flex;
  gap: 60px;
}

.game__stat {
  text-align: center;
}

.game__label {
  font-size: 14px;
  color: #aaa;
}

.game__value {
  font-size: 32px;
  font-weight: bold;
}

.game__clicker {
  width: 180px;
  cursor: pointer;
  transition: transform 0.1s, filter 0.2s;
}

.game__clicker:hover {
  filter: drop-shadow(0 0 15px gold);
}

.game__clicker:active {
  transform: scale(0.95);
}
=======
.game {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.game__title {
  color: #f5c542;
}

.game__stats {
  display: flex;
  gap: 60px;
}

.game__stat {
  text-align: center;
}

.game__label {
  font-size: 14px;
  color: #aaa;
}

.game__value {
  font-size: 32px;
  font-weight: bold;
}

.game__clicker {
  width: 180px;
  cursor: pointer;
  transition: transform 0.1s, filter 0.2s;
}

.game__clicker:hover {
  filter: drop-shadow(0 0 15px gold);
}

.game__clicker:active {
  transform: scale(0.95);
}
>>>>>>> 8e7d3c0e831517c931adbc6931f1c7919c629bcc:scss/game.scss
