<<<<<<< HEAD:Clicker/scss/main.scss
@use "base" as *;
@use "layout" as *;
@use "upgrades" as *;
@use "game" as *;
=======
@use "base" as *;
@use "layout" as *;
@use "upgrades" as *;
@use "game" as *;
>>>>>>> 8e7d3c0e831517c931adbc6931f1c7919c629bcc:scss/main.scss
